footer {
    background-color: darkslategray;
    padding: 10px;
    color: lightgray;
}

.attribution {
    font-size: 10px;
}

.contact-icon {
    width: 75px;
    height: 75px;
}

.contact-block {
    float: left;
}

#header-logo {
    margin: auto;
}

#header-text {
    text-align: center;
}

#nav-logo {
    height: 61.5px;
    width: 200px;
}

